.eventDashboard {
  background: $dark3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    color: white;
    position: absolute;
    top: 15rem;
    font-size: 4rem;
  }
}
.eventDetail {
  position: relative;
  top: -50rem;
  margin: 5rem auto;
  max-width: 80rem;
  width: 100%;

  & > * {
    margin-top: 2rem;
    box-shadow: 2px 5px 10px black;
    padding: 3rem 2rem 1rem 2rem;
  }
}

.eventDetailTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;

  &__one,
  &__two,
  &__three,
  &__four,
  &__five {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}
.eventDetailMiddle {
  background: grey;
}

.btn-trackRequest {
  width: 100%;
  cursor: pointer;
}

.eventDetailBottom {
  background: $color-white-1;
}

.sharelink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  & > * {
    margin-top: 3rem;
  }

  a {
    font-size: 2rem;
  }

  &__btn-icon {
    all: unset;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    cursor: pointer;
  }

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: red;
      font-size: 2rem;
      margin-left: 3rem;
    }
  }
}
