.profile-page{
  background: black;
  height:100rem;
}
.profileTopImage{
  background-image: url("../../images/DJ_profile.png");
  background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
}
.profile{
  position: absolute;
  top: 200px;
  h3{
    font-size: 30px;
    color:white;
    margin-left: 40rem;
    margin-bottom: 5rem;
  }
  h1{
    font-size: 50px;
    color:white;
    margin-left: 40rem;
  }
}
.profileBox{
  background-color: #333333;
  margin-left: 40rem;
  height:50rem;
  width:80rem;
  display:flex;
  flex-direction: row;
}
.profileBio, .profileContact, .profileEvents{
  padding-top: 5rem;
  padding-left:4rem;
  h6{
     font-size:24px;
     color:#A8A8A8;
     padding-bottom: 1rem;
  }
  p{
    width: 30rem;
    padding-left: 1.5rem;
    color: #F2F2F2;
    font-size:22px;
  }
}
.profileBoxRight{
  padding-top: 5rem;
  padding-left:10rem;
  h6{
     font-size:24px;
    color:#A8A8A8;
    padding-bottom: 1rem;
 }
}
