.about-page {
    background: black;
    padding-bottom: 2rem;
    color: $purpleFromImage;
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
        color: white;
        padding: 2rem;
        @media (max-width: 1000px) {
            font-size: 3rem;
        }
    }
    .hero {
        background-image: url('../images/djParty-min-cropped.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 75vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media (max-width: 1000px) {
            justify-content: center;
        }
        .hero-text {
            h2 {
            width: 30%;
            margin-left: 8rem;
            background: rgba(255, 255, 255, 0.7);
            color: black;
            padding: 2rem;
            border-radius: 3px;
            height: 80%;
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
            @media (max-width: 1000px) {
                font-size: 3rem;
                width: 70%;
                margin: 1rem;
            }
            }
        }
    }
    .img-container {
        max-height: 20vh;
        img {
            max-width: 100%;
        }
    }
    .steps {
        width: 40%;
        @media (max-width: 1000px) {
            width: 90%;
        }
        margin: 2rem auto 4rem auto;
        text-align: center;
        
        h2 {
            text-align: center;
            color: $mediumPurple;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
        }
        .step {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
            margin: 2rem;
            padding: 1.5rem;
        }
        .sub-step {
            display: flex;
            flex-flow: column nowrap;
            font-size: 1.5rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin: 0.5rem;
            p {
                padding-top: 1rem;
                color: white;
            }
            .fa-icon {
                font-size: 3rem;
            }
        }
    }
    .get-started {
        padding: 1rem;
        background:$mediumPurple;
        color: $mediumPurple;
        margin: 1rem auto;
        width: 12rem;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
        a {
            color: white;
            font-size: 1.5rem;
            &:hover {
                text-decoration: none;   
            }
        }
    }
}