.add-event {
  background: black;
  color: white;
  min-height: 110vh;
  form {
    width: 40%;
    margin: 2rem auto;
    background: $dark3;
    legend {
      text-align: center;
    }
    .input-group {
      margin: 1rem 0;
      background: $dark1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      label {
        margin-right: 1rem;
        margin-left: 0.5rem;
        width: 35%;
      }
      input {
        width: 60%;
      }
      textarea {
        width: 60%;
      }
    }
    button {
      margin: 2rem auto;
      width: 6rem;
    }
  }
}
