.App {
    background: rgb(198,96,182); /*#383838; */
}
/* Registration Page Styling */

.registration-page {
  background: rgb(198,96,182);
  background-image: url('../images/djHelperBackground-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .registration-page-block {
    width: 35%;
    margin: 5rem 3rem;
  }
  h1 {
    font-size: 5rem;
    color: white;
    font-weight: bold;
  }
}

form {
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 3px;
  padding: 3rem;
  font-size: 1.5rem;
  div {
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }
  .display-more {
    flex-flow: column nowrap;
  }
  legend {
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
  label {
    width: 90%;
    font-size: 1rem;
  }
  input {
    line-height: 1.5rem;
    border: none;
    width: 90%;
    outline: none;
  }
  .password-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    div {
      width: 45%;
    }
  }
  button {
    align-self: center;
    font-size: 1.25rem;
    margin: 1rem;
    color: white;
    background: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    &:hover {
      font-style: italic;
    }
  }
}

.loader {
  margin: 2rem auto;
  width: 10%;
}

/*Login Page Styles */
.login-page {
  background-image: url('../images/djHelperBackground-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  form {
    margin-top: 2rem;
    width: 50%;
  }
}