.dashboard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: $dark3;
    color: white;
    min-height: 110vh;
    padding-bottom: 5%;
   /* Phone styling */
    @include for-phone-only {
        padding-bottom: 0%;
    }
    .welcome {
        height: 47vh;
        margin-bottom: 5%;
        padding-top: 20vh;
        transition: 0.3s;
        /* Phone styling */
        @include for-phone-only {
            margin-bottom: 2%;
            padding-top: 15vh;
            height: 27vh;
            h1 {
                font-size: 1.5rem;
            }
        }
    }
    .carousel {
        width: 106%;
        margin-left: -3%;

        button {
            background: none;
            border: none;
        }
        svg:hover {
            color: grey;
        }
    }
    .preview-event-details {

        transition: 0.3s;
        padding-top: 5%;
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        /* Phone styling */
        @include for-phone-only {
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
        }
        justify-content: space-between;
        font-size: 0.75rem;
        color: #C7C7C7;
        margin-bottom: 2%;
        button {
            width: 95%;
            background: black;
            color: white;
            border-radius: 3px;
            border: none;
            outline: none;
            transition: 0.3s;
            padding: 0.4rem;
            padding-bottom: 0.6rem;
            padding-top: 0.6rem;
            font-size: 0.75rem;
            -webkit-box-shadow: 14px 10px 10px -10px rgba(0,0,0,0.35);
            -moz-box-shadow: 14px 10px 10px -10px rgba(0,0,0,0.35);
            box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.35);
            /* Phone styling */
            @include for-phone-only {
                width: 40%;
                margin-top: 1%;
            }

            &:hover {
                color: black;
                background: white;
            }
            &:active {
                background: grey;
            }
            &.cancel {
                background: black;
                color: white;
                border: 2px solid white;
                margin-top: 1rem;
            }
            &.save {
                background: white;
                color: black;
            }
        }
        /*End of button class, continuing preview-event-details class*/

        h3 {
            font-size: 2.2rem;
            margin-bottom: 7%;
            /* Phone styling */
            @include for-phone-only {
                font-size: 1.1rem;
            }
        }
        .bold {
            color: white;
            font-weight: 700;
        }
        .event-description {
            width: 23%;
            /* Phone styling */
            @include for-phone-only {
                width: 90%;
                .description {
                    height: 50%;
                }
            }
            p {
                width: 95%;
                height: 10%;
            }
        }
        .newest-song-requests {
            display: flex;
            flex-flow: column nowrap;
            height: 28vh;
            width: 45%;
            @include for-phone-only {
                width: 90%;
                display: none;
            }
            #vote {
                color: green;
                background: transparent;
                box-shadow: none;
                padding-bottom: 2%;
            }
            #song-type {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                background: url('../images/Blue.svg');
                background-repeat: no-repeat;
                border-radius: 0%;
                width: 25px;
                height: 25px;
                background-size: cover;
                box-shadow: none;
            }
            h3 {
                color: white;
                font-weight: 700;
                font-size: 1.3rem;
            }
            .songs {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-start;
                button {
                    width: 10%;
                }
            }
        }
        .genre-graph {
            height: 28vh;
            width: 20%;
        }
    }
    .upcoming-events {
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        margin-top: 4vh;
        margin-bottom: 4vh;
        @include for-phone-only {
            margin-bottom: 2vh;
        }
        button {
            background: transparent;
            border: none;
        }
        h5 {
            font-size: 1.2rem;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.3);
            @include for-phone-only {
                font-size: 0.75rem;
            }
        }
        h6 {
            color: #F59EF7;
            @include for-phone-only {
                font-size: 0.5rem;
            }
        }
        .labels {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 2vh;
        }
        .events {
            background: #2E2E2E;
            border-top: solid 5px rgba(252, 123, 255, 0);
            padding-left: 5%;
            padding-right: 5%;
            text-align: left;
            display: flex;
            margin-top: 2px;
            flex-flow: column nowrap;
            justify-content: space-around;
            height: 100%;
            width: 85%;
            color: white;
            transition: 0.3s;
            @include for-phone-only {
                height: 90%;
                border-top: solid 3px rgba(252, 123, 255, 0);
            }
            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                @include for-phone-only {
                    font-size: 0.75rem;
                }
            }
            p {
                font-size: 0.75rem;
                @include for-phone-only {
                    font-size: 0.5rem;
                }
            }
        }
        .selected {
            border-top: solid 5px rgba(211, 98, 255, 1);
                @include for-phone-only {
                    border-top: solid 3px rgba(211, 98, 255, 1);
                }
        }
    }
    .past-events {
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        margin-top: 4vh;
        h5 {
            font-size: 1.2rem;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.3);
            @include for-phone-only {
                font-size: 0.75rem;
            }
        }
        .events {
            margin-top: 2px;
            background: #2E2E2E;
            text-align: left;
            border-radius: 10px;
            color: white;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            padding-left: 5%;
            padding-right: 5%;
            height: 100%;
            width: 85%;
            transition: 0.3s;
            img {
                height: 25vh;
                width: 15vw;
            }
            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                @include for-phone-only {
                    font-size: 0.5rem;
                }
            }
            p {
                font-size: 0.75rem;
                @include for-phone-only {
                    font-size: 0.5rem;
                }
            }
        }
    }
    .board {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 50%;
        border: solid $dashboardColor 1px;
        border-radius: 25px;
        padding: 5%;
        margin-bottom: 2rem;
        @media (max-width: 500px) {
            width: 95%;
        }
        .img-container {
            width: 90%;
            margin: 1rem auto;
            img {
                max-width: 100%;
            }
        }
    }
}
