.dashboard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: $dark3;
    color: white;
    min-height: 110vh;
    padding-bottom: 5%;

    .welcome {
        height: 47vh;
    }

    .carousel {
        display: flex;
        justify-content: space-around;

        button {
            background: none;
            border: none;
        }

        svg:hover {
            color: grey;
        }
    }

    .preview-event-details {
        width: 90%;
        height: 47vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .event-description {
            height: 28vh;
            width: 20%;
        }
        .newest-song-requests {
            display: flex;
            flex-flow: column nowrap;
            height: 28vh;
            width: 50%;
            .songs {
                border: solid white 2px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-start;
                
            }
        }
        .genre-graph {
            height: 28vh;
            width: 20%;
        }
    }


    .upcoming-events {
        h5 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #525252;
            padding-left: 2%;
        }
        h6 {
            color: #F59EF7;
        }
        .labels {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 2vh;
        }
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        height: 27.5vh;
        margin-top: 4vh;
        .events {
            background: #2E2E2E;
            border-top: solid 5px rgba(252, 123, 255, 0);
            padding-left: 5%;
            padding-right: 5%;
            text-align: left;
            display: flex;
            margin-top: 2px;
            flex-flow: column nowrap;
            justify-content: space-around;
            height: 100%;
            width: 85%;
            color: white;
            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                
            }

            p {
                font-size: 0.75rem;
            }

        }
        .selected {
            border-top: solid 5px rgba(211, 98, 255, 1);
        }


    }

    .past-events {
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        height: 40vh;
        margin-top: 4vh;
        .events {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            height: 30vh;
            width: 100%;
            img {
                height: 25vh;
                width: 15vw;
            }

        }
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 110vh;

    .board {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 50%;
        border: solid $dashboardColor 1px;
        border-radius: 25px;
        padding: 5%;
        margin-bottom: 2rem;
        @media (max-width: 500px) {
            width: 95%;
        }
        .img-container {
            width: 90%;
            margin: 1rem auto;
            img {
                max-width: 100%;
            }
        }
    }
    .welcome {
        padding-top: 20vh;
    }

}
