.event-guest-view-page {
  background: black;
  color: white;
  min-height: 110vh;
  padding-left: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  a {
    color: $mediumPurple;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    a {
      padding: 1rem;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      display: block;
      &:hover {
        transform: scale(1.3);
        text-decoration: none;
        color: $lightPurple;
      }
    }
  }
  .section {
    width: 32%;
    padding-top: 2rem;
    @include for-phone-only {
      width: 100%;
    }

    .img-container {
      max-width: 90%;
      border-radius: 3px;
      padding-bottom: 3rem;
      img {
        max-width: 100%;
      }
    }
  }
  .left-side {
    border-right: 2px solid white;
    .main-title {
      font-size: 4.5rem;
      font-weight: bold;
      padding-bottom: 2rem;
      @include for-phone-only {
        font-size: 3rem;
      }
    }
  }
  .middle {
    border-right: 2px solid white;
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    h2 {
      text-align: center;
    }
    button {
      width: 40%;
      font-size: 1vw;
      font-weight: 700;
      margin-top: 2rem;
      color: white;
      background: $darkPurple;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      &:hover {
        font-style: italic;
        transform: scale(1.1);
      }
      @include for-phone-only {
        font-size: 1rem;
        width: 70%;
      }
    }
  }
  .right-side {
    padding-top: 9rem;
    h2 {
      text-align: center;
    }
  }
}
