// The cascade matters!

// import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');

// Abstracts Vars and Mixins
@import './abstracts/variables.scss';
@import './abstracts/Mixins.scss';

// General Styles Here

// @import './base/reset.scss';
@import './base/global.scss';
@import './base/page-layouts.scss';
@import './base//utilites.scss';

// Layouts for React Components Here
@import './layouts/App.scss';
@import './layouts/Navbar.scss';
@import './layouts/Register.scss';
@import './layouts/Login.scss';
@import './layouts/dashboard.scss';
@import './layouts/EventPage.scss';
@import './layouts/About.scss';
@import './layouts/DJProfile.scss';
@import './layouts/SetUpProfile.scss';
@import './layouts/Home.scss';
@import './layouts/AddEvent.scss';
@import './layouts/EventGuestView.scss';
@import './layouts/EditEvent.scss';
@import './layouts/EventCard.scss';

// components
@import './components/buttons.scss';
@import './components/form.scss';
