// The cascade matters!

// Vars and Mixins
@import './variables';

// General Styles Here

// Components Here
@import './App.scss';
@import './Navbar.scss';
@import './Register.scss';
@import './Login.scss';
@import './dashboard.scss';
@import './EventPage.scss';
@import './About.scss';
@import './DJProfile.scss';
@import './SetUpProfile.scss';
@import './Home.scss';
@import './AddEvent.scss';
