/*Login Page Styles */
.login-page {
  min-height: 110vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  form {
    width: 40%;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center !important;
    border-radius: 3px;
    padding: 3rem;
    margin-top: 25vh;
    font-size: 1.25vw !important;
    p{
        text-align: center;
    }
        div {
            width: 100%;
            padding-bottom: 0.5rem;
            font-size: 1.8vw;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        legend {
            font-size: 2.8vw;
            font-weight: bold;
            text-align: center;
        }
        label {
            width: 100%;
            font-size: 1.25vw;
            font-weight: 500;
        }
        input {
            line-height: 1.5rem;
            border: none;
            width: 100%;
            outline: none;
            font-size: 1vw;
        }
        .password-area {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-end;
            div {
                width: 45%;
            }
        }
        button {
            align-self: center;
            width: 50%;
            font-size: 1.25vw;
            margin: 1rem;
            color: white;
            background: black;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            &:hover {
                font-style: italic;
            }
        }
    }
    .registration-page-block {
        width: 35%;
        margin: 5rem 3rem;
    }
    h1 {
        font-size: 5rem;
        color: white;
        font-weight: bold;
    }


}
