.navBar {
    NavLink {
        color: white;
        &:hover {
            color: lightgrey;
        }

    }
    a {
        color: white;
    }


    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 700;

    .navElements {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 20%;
    }

    .navElementsIcons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 65%;
    }

    .icons {
        color: white;
        &:hover {
            color:lightgrey;
        }
        #home {
            color:grey;
        }

    }
}


