.navBar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 700;

    .navElements {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 20%;
    }
}


