$dashboardColor: #333A42; //The Reactstrap dark mode color
$overlay:  rgba(211, 98, 255, 0.4);
$purpleFromImage: rgb(213,95,177);

/* Colors from Figma File */

$lightPurple: rgb(252, 123, 255);
$mediumPurple: rgb(211, 98, 255);
$aqua: rgb(130, 255, 254);
$brightGreen: rgb(2, 253, 24);
$dark1: rgb(56, 56, 56);
$dark2: rgb(46, 46, 46);
$dark3: rgb(35, 35, 35);
$dark4: rgb(40, 40, 40);
$dark5: rgb(18, 18, 18);

$headlineGray: rgb(90, 90, 90);

$gradientPink: rgb(211, 101, 174);
$gradientPurple: rgb(190, 125, 211);