$dashboardColor: #333A42; //The Reactstrap dark mode color
$overlay:  rgba(211, 98, 255, 0.4);
$purpleFromImage: rgb(213,95,177);
$lightPurple: rgb(252, 123, 255);
$mediumPurple: rgb(211, 98, 255);
$aqua: rgb(130, 255, 254);
$brightGreen: rgb(2, 253, 24);