// colors webpt11

$color-primary: #c377ff; // eletctric violet - to be used for text, top of ablack or dak layer

$color-secondary: #7e00ed; // to be used on top of black
$color-secondary-light: #c377ff;

$color-grey-darkest: #000000;

$color-white-1: #f9f9f9;
$color-white-2: #f1f1f1;

$color-blue-light: #2997ef;

// end of webpt11 colors

$dashboardColor: #333a42; //The Reactstrap dark mode color
$overlay: rgba(211, 98, 255, 0.4);
$purpleFromImage: rgb(213, 95, 177);

/* Colors from Figma File */

$lightPurple: rgb(252, 123, 255);
$mediumPurple: rgb(211, 98, 255);
$aqua: rgb(130, 255, 254);
$brightGreen: rgb(2, 253, 24);
$dark1: rgb(56, 56, 56);
$dark2: rgb(46, 46, 46);
$dark3: rgb(35, 35, 35);
$dark4: rgb(40, 40, 40);
$dark5: rgb(18, 18, 18);

$headlineGray: rgb(90, 90, 90);

$gradientPink: rgb(211, 101, 174);
$gradientPurple: rgb(190, 125, 211);

$darkPurple: rgb(170, 79, 206);

// Media query variables

$min-phone-width: 300px;
$max-phone-width: 500px;
