.add-event {
  color: #525252;

  
  background-color: #F2F2F2;
  .add-event-title {
    font-family: Mukta;
    color: #525252;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
    text-align: left;
  }
  .main-form {
  
    width: 80%;
    margin: 1rem auto 2rem;
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: stretch;
      .form-section {
        width: 100%;
        @media (max-width: 600px) {
          width: 100%;
        }
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 0rem;
        .venue-info-title {
          margin-top: 1.5rem;
        }
        .pencil {
          position: relative;
          font-size: 2rem;
          top: 10rem;
          left: 10rem;
          &:hover {
            color: $mediumPurple;
          }
        }
        .img-container {
          width: 60%;
          margin: 1rem auto;
          img {
            max-width: 100%;
            border-radius: 3px;
          }
        }
        .when-inputs {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          .input-group {
            width: 25%;
            input {
              width: 95%;
            }
            &.date {
              width: 48%;
            }
          }
        }
      }
      .input-group {

        display: flex;
        flex-flow: column wrap;
        margin-top: 0.5rem;
        label {
          margin-right: 1rem;
          margin-left: 0.5rem;
        }
        input {
          font-family: Mukta;
          font-style: normal;
          font-weight: bold;
          background: #F2F2F2;
          outline: none;
          border: 1px solid #BFBFBF;
          color: white;
          border-radius: 3px;
          line-height: 2rem;
          padding-left: 1rem;
        }
        
        textarea {
          background: $dark2;
          outline: none;
          border: none;
          color: white;
          border-radius: 3px;
        }
      }
      .last-line-address {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .city {
          width: 40%;
          margin-right: 1rem;
        }
        .state {
          width: 15%;
          margin-right: 1rem;
          input {
            width: 100%;
            margin-right: 1rem;
          }
        }
        .zip {
          width: 25%;
          input {
            width: 100%;
          }
        }
      }
      button {
        width: 10rem;
        background: #7E00E1;
        border-radius: 50px;
        margin-bottom: 3rem;
        margin-top: 1rem;
        align-self: center;
        color: white;
        
        border: none;
        outline: none;
        transition: 0.3s;
        padding: 0.25rem;
        font-size: 1.25rem;
        -webkit-box-shadow: 14px 10px 10px -10px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 14px 10px 10px -10px rgba(0, 0, 0, 0.35);
        box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.35);
        &.more {
          color: white;
          background: $dark1;
        }
        &:hover {
          color: black;
          background: white;
        }
        &:active {
          background: grey;
        }
      }
    }
  }
}
