.eventCard {
  // flex: 0 0 25%;
  margin: 1%;
  background: #2e2e2e;
  border-top: solid 5px rgba(252, 123, 255, 0);
  // padding-left: 5%;
  // padding-right: 5%;
  text-align: left;
  display: flex;
  // margin-top: 2px;
  flex-flow:row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  width: 920px;
  height: 160px;
  color: white;
  background: #333333;
  border-radius: 8px;
  transition: 0.3s;
  @include for-phone-only {
    height: 90%;
    border-top: solid 3px rgba(252, 123, 255, 0);
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    @include for-phone-only {
      font-size: 0.5rem;
      margin-top: 9%;
    }
  }
  #Notifications{
    display: flex;
    flex-direction: column;

  
  h3 {
    font-size: 2.75rem;

  }
  img {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  p {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    @include for-phone-only {
      font-size: 0.5rem;
    }
  }
  &__icon {
    font-size: 6.4rem;
  }
}
}
