.main-content {
  width: 40%;
  background: rgba(255, 255, 255, 0.5);
  margin: 4rem auto;
  color: black;
  text-align: center;
  padding: 2rem;
  border-radius: 3px;
  transition: all 0.2 ease-in-out;
  @include for-phone-only {
    width: 80%;
  }
  &:hover {
    transform: scale(1.1);
  }
  h2 {
    font-size: 3.5rem;
    @include for-phone-only {
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 2.5rem;
    @include for-phone-only {
      font-size: 1.5rem;
    }
  }
  a {
    color: $darkPurple;
    &:hover {
      text-decoration: none;
      font-style: italic;
    }
  }
}

.header {
  padding: 2rem 4.43rem 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 0 0 45%;
    padding-left: 2rem;

    h1 {
      font-family: Mukta;
      font-style: normal;
      font-weight: bold;
      font-size: 4.8rem;
      line-height: 125%;
      color: #f1f1f1;
    }
  }

  &__right {
    padding-left: 4rem;
  }

  &__left-subSection {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

// margin-bottom: 1.6rem;
//   padding-bottom: 3.2rem;
//   h1 {
//     font-size: 9.6rem;
//     color: white;
//     text-align: center;
//     padding-bottom: 1.6rem;
//     padding-top: 1.6rem;
//     @include for-phone-only {
//       font-size: 3.5rem;
//     }
//   }
//   h2 {
//     color: $lightPurple;
//     text-align: center;
//     font-size: 3.2rem;
//     @include for-phone-only {
//       font-size: 1.25rem;
//       padding: 0.25rem 1rem;
//     }
//   }
