//desktop//
@media(min-width: 1024px){
.main-content {
  width: 40%;
  background: rgba(255, 255, 255, 0.5);
  margin: 4rem auto;
  color: black;
  text-align: center;
  padding: 2rem;
  border-radius: 3px;
  transition: all 0.2 ease-in-out;
  @include for-phone-only {
    width: 80%;
  }
  &:hover {
    transform: scale(1.1);
  }
  h2 {
    font-size: 3.5rem;
    @include for-phone-only {
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 2.5rem;
    @include for-phone-only {
      font-size: 1.5rem;
    }
  }
  a {
    color: $darkPurple;
    &:hover {
      text-decoration: none;
      font-style: italic;
    }
  }
}

.header {
  padding: 2rem 4.43rem 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 0 0 45%;
    padding-left: 2rem;

    h1 {
      font-family: Mukta;
      font-style: normal;
      font-weight: bold;
      font-size: 4.8rem;
      line-height: 125%;
      color: #f1f1f1;
    }
  }

  &__right {
    padding-left: 4rem;
    img{
     content: url("../../images/Phone-2.png");
    }
  }

  &__left-subSection {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.beheard{
  text-align: center;
  color: white;
}
.bottom-imgs{
  display: flex;
  flex-direction: row;
  
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem;
 
  .img1{
    height:350px;
    width: 350px;
    margin: 2rem;
    text-align: center;


  }
  .img2{
    height:350px;
    width: 350px;
    margin: 2rem;
    text-align: center;

  }
  .img3{
    height:350px;
    width: 350px;
    margin: 1rem;
    text-align: center;

  }
  
}
.bottom-mid{
  text-align: center;
  color: white;
  button {
    align-self: center;
    width: 40%;
    font-size: 1vw;
    font-weight: 700;
    margin: 1rem;
    color: white;
    background: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    }
  }
  .btn-inline-u-margin-left-medium{
    padding-left: 1rem;
    font-family: Mukta;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 4rem;
    cursor: pointer;
    color: $color-blue-light;
  }
}

/// tablet ///
@media (max-width:1024px), (min-width:480){
  .main-content {
    width: 40%;
    background: rgba(255, 255, 255, 0.5);
    margin: 4rem auto;
    color: black;
    text-align: center;
    padding: 2rem;
    border-radius: 3px;
    transition: all 0.2 ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    h2 {
      font-size: 3.5rem;
      @include for-phone-only {
        font-size: 2rem;
      }
    }
    h3 {
      font-size: 2.5rem;
      @include for-phone-only {
        font-size: 1.5rem;
      }
    }
    a {
      color: $darkPurple;
      &:hover {
        text-decoration: none;
        font-style: italic;
      }
    }
  }
  
  .header {
    padding: 2rem 4rem 2rem 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      flex: 0 0 45%;
      padding-left: 2rem;
  
      h1 {
        font-family: Mukta;
        font-style: normal;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 125%;
        color: #f1f1f1;
        text-align: center;
      }
    }
  
    &__right {
      padding-left: 4rem;
      img{
        content: url("../../images/tablet_event_page.png");
        padding-top: 20px;
        @media (max-width:480px){
          content:url("../../images/web-phone.png")
        }
      }
    }
  
    &__left-subSection {
      padding-top: 4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .beheard{
    text-align: center;
    color: white;
  }
  .bottom-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    //padding: 1rem;
    margin: 2rem;
   
    .img1{
      height:350px;
      width: 350px;
      margin: 2rem;
      text-align: center;
  
  
    }
    .img2{
      height:350px;
      width: 350px;
      margin: 2rem;
      text-align: center;
  
    }
    .img3{
      height:350px;
      width: 350px;
      margin: 1rem;
      text-align: center;
  
    }
    
  }
  .bottom-mid{
    text-align: center;
    color: white;
    button {
      align-self: center;
      width: 40%;
      font-size: 1vw;
      font-weight: 700;
      margin: 1rem;
      color: white;
      background: black;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      }
    }
     .btn-inline-u-margin-left-medium{
        display:none;
     }
}

// margin-bottom: 1.6rem;
//   padding-bottom: 3.2rem;
//   h1 {
//     font-size: 9.6rem;
//     color: white;
//     text-align: center;
//     padding-bottom: 1.6rem;
//     padding-top: 1.6rem;
//     @include for-phone-only {
//       font-size: 3.5rem;
//     }
//   }
//   h2 {
//     color: $lightPurple;
//     text-align: center;
//     font-size: 3.2rem;
//     @include for-phone-only {
//       font-size: 1.25rem;
//       padding: 0.25rem 1rem;
//     }
//   }
