.navBar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 700;

  padding: 1.6rem 3%;

  background: $color-grey-darkest;
  @include for-phone-only {
    font-size: 1rem;
  }

  .logout-item {
    cursor: pointer;
  }

  a {
    color: white;
    font-size: 2rem;
    font-weight: 600;

    text-decoration: none;
    &:hover {
      color: lightgrey;
    }
  }

  .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 43%;
    @include for-phone-only {
      margin-left: 18%;
    }
  }
  #profile {
    margin-left: 10%;
    margin-right: 13%;
  }

  .navElements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    @include for-phone-only {
      width: 65%;
      margin-left: 25%;
    }
  }

  .navElementsIcons {
    a {
      color: grey;
      &:hover {
        color: lightgrey;
      }

      &:active {
        color: white;
      }
    }

    .selected {
      color: white;
      &:hover {
        color: white;
      }
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 65%;
  }

  .navElementsStatice {
    & > * {
      margin-left: 1.6rem;
    }
  }

  &__static {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-brand {
    font-family: Mukta Mahee;
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 4.3rem;
    color: $color-white-1;
  }
}
