h2, p {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  margin: 1rem auto;
  background: gray;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 3px;
  padding: 3rem;
  font-size: 1.5rem;
  div {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
  legend {
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
  label {
    padding-right: 0.5rem;
    width: 40%;
  }
  input {
    line-height: 1.5rem;
    border: none;
    width: 60%;
  }
  button {
    align-self: center;
    font-size: 1.75rem;
    margin: 1rem;
    color: white;
    background: black;
    border: none;
    padding: 0.5rem;
    &:hover {
      font-style: italic;
    }
  }
}

.dj-interface {
  width: 50%;
  border: 1px solid black;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 3px;
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  span {
    font-style: italic;  
  }
}